In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

%matplotlib inline

bomMovieGross = pd.read_csv('zippedData/bom.movie_gross.csv.gz')

imdbNameBasics = pd.read_csv('zippedData/imdb.name.basics.csv.gz')

imdbTitleAkas = pd.read_csv('zippedData/imdb.title.akas.csv.gz')

imdbTitleBasics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')

imdbTitleCrew = pd.read_csv('zippedData/imdb.title.crew.csv.gz')

imdbTitlePrincipals = pd.read_csv('zippedData/imdb.title.principals.csv.gz')

imdbTitleRatings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')

rtMovieInfo = pd.read_csv('zippedData/rt.reviews.tsv.gz', sep='\t', encoding='windows-1252')

rtReviews = pd.read_csv('zippedData/rt.reviews.tsv.gz', sep='\t', encoding='windows-1252')

tmdbMovies = pd.read_csv('zippedData/tmdb.movies.csv.gz')

tnMovieBudgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')

In [53]:
allFiles = [bomMovieGross, imdbNameBasics, imdbTitleBasics, imdbTitleAkas, imdbTitleCrew, imdbTitlePrincipals, imdbTitleRatings,
           rtMovieInfo, rtReviews, tmdbMovies, tnMovieBudgets]

In [59]:
allCols = list(map(lambda x: x.columns, allFiles))
allCols

[Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object'),
 Index(['nconst', 'primary_name', 'birth_year', 'death_year',
        'primary_profession', 'known_for_titles'],
       dtype='object'),
 Index(['tconst', 'primary_title', 'original_title', 'start_year',
        'runtime_minutes', 'genres'],
       dtype='object'),
 Index(['title_id', 'ordering', 'title', 'region', 'language', 'types',
        'attributes', 'is_original_title'],
       dtype='object'),
 Index(['tconst', 'directors', 'writers'], dtype='object'),
 Index(['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'], dtype='object'),
 Index(['tconst', 'averagerating', 'numvotes'], dtype='object'),
 Index(['id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher',
        'date'],
       dtype='object'),
 Index(['id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher',
        'date'],
       dtype='object'),
 Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
        'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
       dtype='object'),
 Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
        'worldwide_gross'],
       dtype='object')]

In [3]:
bomMovieGross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [4]:
imdbNameBasics

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"
...,...,...,...,...,...,...
606643,nm9990381,Susan Grobes,NaN,NaN,actress,NaN
606644,nm9990690,Joo Yeon So,NaN,NaN,actress,"tt9090932,tt8737130"
606645,nm9991320,Madeline Smith,NaN,NaN,actress,"tt8734436,tt9615610"
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer,NaN
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer",tt8743182

In [5]:
imdbTitleAkas

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

In [6]:
imdbTitleBasics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [7]:
imdbTitleCrew

           tconst                      directors              writers
0       tt0285252                      nm0899854            nm0899854
1       tt0438973                            NaN  nm0175726,nm1802864
2       tt0462036                      nm1940585            nm1940585
3       tt0835418                      nm0151540  nm0310087,nm0841532
4       tt0878654  nm0089502,nm2291498,nm2292011            nm0284943
...           ...                            ...                  ...
146139  tt8999974                     nm10122357           nm10122357
146140  tt9001390                      nm6711477            nm6711477
146141  tt9001494          nm10123242,nm10123248                  NaN
146142  tt9004986                      nm4993825            nm4993825
146143  tt9010172                            NaN            nm8352242

[146144 rows x 3 columns]

In [8]:
imdbTitlePrincipals

,tconst,ordering,nconst,category,job,characters
0,tt0111414,1,nm0246005,actor,NaN,"[""The Man""]"
1,tt0111414,2,nm0398271,director,NaN,NaN
2,tt0111414,3,nm3739909,producer,producer,NaN
3,tt0323808,10,nm0059247,editor,NaN,NaN
4,tt0323808,1,nm3579312,actress,NaN,"[""Beth Boothby""]"
...,...,...,...,...,...,...
1028181,tt9692684,1,nm0186469,actor,NaN,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,NaN,"[""Herself"",""Regan""]"
1028183,tt9692684,3,nm10441594,director,NaN,NaN
1028184,tt9692684,4,nm6009913,writer,writer,NaN
1028185,tt9692684,5,nm10441595,producer,producer,NaN

In [9]:
imdbTitleRatings

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [10]:
rtMovieInfo

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
...,...,...,...,...,...,...,...,...
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

In [11]:
rtReviews

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
...,...,...,...,...,...,...,...,...
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

In [12]:
tmdbMovies

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [13]:
tnMovieBudgets

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [41]:

# Removes commas and dollar signs, converts to int

# tnMovieBudgets['worldwide_gross']   = list(map(lambda x: int(x.replace(',','').replace('$','')), tnMovieBudgets['worldwide_gross']))

# tnMovieBudgets['domestic_gross']    = list(map(lambda x: int(x.replace(',','').replace('$','')), tnMovieBudgets['domestic_gross']))

# tnMovieBudgets['production_budget'] = list(map(lambda x: int(x.replace(',','').replace('$','')), tnMovieBudgets['production_budget']))

# tnMovieBudgets

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,7000,0,0
5778,79,"Apr 2, 1999",Following,6000,48482,240495
5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000,1338,1338
5780,81,"Sep 29, 2015",A Plague So Pleasant,1400,0,0
5781,82,"Aug 5, 2005",My Date With Drew,1100,181041,181041

In [52]:
tnPercentReturns = tnMovieBudgets['production_budget'] / tnMovieBudgets['worldwide_gross']

[inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 38461.53846153846,
 7971.014492753623,
 7246.376811594203,
 5200.0,
 5187.5,
 4321.5211754537595,
 4012.4832813196613,
 2674.591381872214,
 2159.827213822894,
 2089.5119978430844,
 2064.14734836456,
 1666.6666666666667,
 1422.475106685633,
 1207.1740630029892,
 1131.2217194570135,
 1102.6574043444703,
 965.2509652509652,
 946.969696969697,
 945.6264775413712,
 937.8468368479467,
 924.428010168708,
 857.843137254902,
 840.7600470825627,
 821.0180623973728,
 821.0180623973728,
 712.5890736342043,
 668.4194108996925,
 661.7257808364213,
 660.1241033314263,
 649.3626968960463,
 644.468313641246,
 630.6306306306307,
 623.1392370006231,
 610.533742164817,
 603.448275862069,
 602.627455706882,
 591.3660555884093,
 554.5696539485359,
 507.20227226617976,
 505.832885460466,
 505.54200422127576,
 490.19607843137254,
 465.0638405817526,
 449.20525224602625,
 437.25404459991256,
 423.1770833333333,
 417.298937784522,
 408.4758743936686,
 384.33503412630046,
 382.19806352981146,
 374.2736137102334,
 373.06472673008767,
 354.57400466011546,
 325.1503820516989,
 322.4108435320437,
 311.6235587410408,
 307.09828042921924,
 282.08744710860367,
 281.214848143982,
 277.98369162342476,
 274.423710208562,
 274.3755213134905,
 270.27027027027026,
 269.07249129471353,
 261.2330198537095,
 261.05651105651106,
 260.47093144405085,
 255.49653734955962,
 243.57294907483217,
 242.53399518165796,
 230.70711731456916,
 230.25911826108313,
 226.77022506944837,
 220.38788267350537,
 218.44076978527272,
 217.78900601097658,
 199.52114924181964,
 196.38134639051086,
 193.6258374317469,
 193.19938176197837,
 191.97259222067987,
 189.56747022210988,
 187.28345350688267,
 185.8045336306206,
 182.01674554058974,
 181.76310209027568,
 181.00776070774035,
 177.69143290371494,
 175.33606078316774,
 171.0583035121691,
 170.57361469857204,
 168.75500991435683,
 166.03773584905662,
 164.39707373208756,
 164.33853738701725,
 160.06281710558105,
 157.89058182679403,
 153.3350370559673,
 152.6840244294439,
 150.98409274737125,
 150.57649285837206,
 145.5604075691412,
 145.3044678071236,
 141.78966920470174,
 137.80431786862655,
 137.30161935145176,
 136.68515713097855,
 136.5249840720852,
 125.90091791453845,
 121.6873985938345,
 121.23069379749938,
 120.94823415578132,
 119.7277049909349,
 117.22642283570717,
 117.14745936447504,
 111.81800655484867,
 111.75681716584711,
 110.00011000011,
 105.2299273913501,
 101.32817858701752,
 97.0822374808042,
 96.54660230226513,
 96.46767528980497,
 95.23809523809524,
 93.93199323689649,
 92.25943352707814,
 91.42188457072854,
 90.66183136899366,
 86.61008141347654,
 86.40055296353897,
 86.25708925452311,
 86.16020875387721,
 85.81235697940504,
 84.34168503441141,
 84.11843876177659,
 83.88658533662489,
 81.9177373458653,
 81.58444294264126,
 79.20980300521992,
 79.19636530365554,
 78.49601632717139,
 78.27389055268173,
 77.30364873222015,
 76.94675284702986,
 75.53820974442905,
 75.27853056308341,
 74.06858751203615,
 73.63770250368188,
 71.95719985752474,
 70.03389640586043,
 69.29046563192905,
 67.89050619161416,
 67.30720691918087,
 67.25595695618755,
 66.98910757110893,
 66.61591168633421,
 66.5818857321677,
 66.17820846135665,
 65.98046978094484,
 65.72919571365972,
 65.55872422722653,
 64.60991762235503,
 63.371356147021544,
 63.31117442228553,
 63.19914049168931,
 62.89901563040539,
 62.1513696608089,
 62.0744023786911,
 60.95858986739903,
 60.957954251055334,
 60.4733043957373,
 60.36658983646142,
 59.983684437832906,
 58.387341624335846,
 58.13803260897651,
 57.64619073971592,
 57.142857142857146,
 57.04476429420309,
 56.63797009515179,
 56.43022402798939,
 55.63978801240767,
 55.48694550706349,
 54.824561403508774,
 54.763387936994725,
 54.50210060179403,
 54.464525212309525,
 53.76492744807076,
 53.7244473097483,
 53.27792429206958,
 53.26600510288329,
 52.44093839313473,
 51.67424555601488,
 51.03919445568522,
 50.9355156372033,
 50.930818205237394,
 50.53031566288195,
 50.430169344508656,
 50.22938083916552,
 50.0,
 48.84535019402458,
 48.646833404995874,
 48.53164802691889,
 48.49488438109882,
 47.91842367553477,
 47.898350990407266,
 47.14757190004715,
 46.99837072314826,
 46.62554476463699,
 46.253540323065565,
 45.099218280216476,
 44.5751983596327,
 44.49914307364481,
 44.09657149156653,
 44.09326607640481,
 43.675751222921036,
 43.23534922152352,
 43.20820955981637,
 42.73869561500983,
 42.40366593826592,
 41.96179797911981,
 41.3703515238769,
 41.31685066437496,
 41.28169844702182,
 40.90565111570164,
 40.876389797253104,
 40.55646531274391,
 40.39343202795226,
 40.300967626232705,
 39.980265740830326,
 39.9114691048946,
 38.591909849298595,
 38.5285446261056,
 38.385610879578856,
 38.06913354652048,
 37.99969600243198,
 37.282827529639846,
 36.49225241410285,
 36.33720930232558,
 36.2406378352259,
 36.15963964336264,
 35.859645348107506,
 35.702081431347445,
 35.483870967741936,
 34.89841072637552,
 34.80488382129781,
 34.64420402466667,
 34.5972875726543,
 34.379028792436614,
 33.8123415046492,
 33.719454141542364,
 33.65756790414325,
 33.36793711997627,
 33.32888948140248,
 33.00366340663814,
 32.06841261357563,
 32.037891855455285,
 31.94888178913738,
 31.511281038611823,
 31.46880654551176,
 30.76030689997627,
 30.420522237401755,
 30.092218087688078,
 29.96547204318121,
 29.92701382002698,
 29.477366295579376,
 28.688825065107693,
 28.61012035323962,
 28.533384059349437,
 28.437366699843594,
 28.36981376162926,
 28.35286845970207,
 28.314387861810687,
 28.096280333446654,
 27.708660064616595,
 27.671320060323477,
 27.583670467083486,
 27.56947507719453,
 27.322031119793447,
 27.301890655927924,
 26.63151306941504,
 26.599753508950815,
 26.514614192477538,
 26.514287792140106,
 26.136284156626285,
 26.09126725285047,
 25.889073947824887,
 25.74238168515351,
 25.606008876749744,
 25.55714577795952,
 25.53059448971215,
 25.40650406504065,
 25.252525252525253,
 25.120130948811656,
 24.967453141440622,
 24.93765586034913,
 24.93019545273235,
 24.366141892166286,
 24.0415678708487,
 23.999630774911154,
 23.781212841854934,
 23.333333333333332,
 23.27117021988347,
 22.95536558715234,
 22.893327396330427,
 22.822489933651763,
 22.805840575771455,
 22.486901379946183,
 22.461382466003094,
 22.45559406274093,
 22.416498542927595,
 21.61317224606706,
 21.554395210613386,
 21.522926400559594,
 21.067534087270154,
 21.00835039911664,
 20.886128825642597,
 20.853607674127623,
 20.79050105107533,
 20.558548516936032,
 20.36106963485815,
 19.89126110595412,
 19.81266028992526,
 19.58643451879881,
 19.484631496906815,
 19.472128303623585,
 19.384728710721692,
 19.294915548566507,
 19.284140562100557,
 19.186247297936838,
 19.157612414132846,
 18.979473699194322,
 18.975332068311197,
 18.763363032609785,
 18.444569457637435,
 18.3971202374455,
 18.279339645798625,
 18.099828310200028,
 17.919621537593127,
 17.687406920021083,
 17.65965743090129,
 17.51259812527637,
 17.5,
 17.47500427166771,
 17.4584053492554,
 17.400382808421785,
 17.38009041123032,
 17.13660962460543,
 16.99548891165745,
 16.775902861737638,
 16.761656868464748,
 16.704390749108402,
 16.61401741836502,
 16.4867413625962,
 16.419417603257614,
 16.240027608046933,
 15.988800733352994,
 15.869489319833688,
 15.862264782441107,
 15.846521160387923,
 15.830227593443572,
 15.75161769113688,
 15.608903318452846,
 15.308387465492343,
 15.245442089235384,
 15.181264295690545,
 15.125948733117761,
 15.117517098991662,
 15.054799470071059,
 15.006127502063343,
 14.92693266460675,
 14.856192060850963,
 14.753251862598047,
 14.700153616605293,
 14.410339973174597,
 14.346790622937649,
 14.224519820852333,
 14.198782961460447,
 14.145071856965034,
 14.144563330808921,
 14.098738162934417,
 14.094442631742517,
 14.03432056160919,
 14.0,
 13.867548272935538,
 13.864454072332151,
 13.82384004158211,
 13.791898638739605,
 13.776034924623712,
 13.754448704502863,
 13.72718142071752,
 13.637962344868178,
 13.575244184704772,
 13.54057178449503,
 13.518329626033845,
 13.505361628566542,
 13.435111154980861,
 13.413696278146405,
 13.408677329757687,
 13.281623545662221,
 13.25451316173157,
 13.236092176145915,
 13.059626773279655,
 12.790995139421847,
 12.728719172633253,
 12.697503718384604,
 12.627266343198194,
 12.524088670547787,
 12.516584474428617,
 12.372505200318592,
 12.364862358473847,
 12.270299984294017,
 12.202562538133009,
 12.185194650022593,
 12.160466961931338,
 12.145768657115234,
 12.142857142857142,
 12.11944929222416,
 12.062847435137064,
 12.023020681864068,
 11.95255790715492,
 11.87056337693787,
 11.822007849813213,
 11.778008103269576,
 11.742043737938719,
 11.424311792317436,
 11.36067226096464,
 11.283576234010955,
 11.27700843520231,
 11.218587953729557,
 11.193459040024079,
 11.145983046373155,
 11.116923477892454,
 11.099690762615353,
 11.04036283048406,
 11.034596909623202,
 11.013215859030836,
 11.005488987632582,
 10.904545696180273,
 10.784849443501768,
 10.713090056913291,
 10.67591343115317,
 10.587487942027622,
 10.530155733481758,
 10.434066228193936,
 10.41005194615921,
 10.337626894370128,
 10.283951322630406,
 10.18229705833438,
 10.152524763699986,
 10.130471793437943,
 10.099360878779054,
 10.020833312456597,
 10.005177679449115,
 10.0,
 9.997117497788137,
 9.895797254905842,
 9.89066854984996,
 9.849208616087697,
 9.741936112382975,
 9.726491071081197,
 9.726288351102335,
 9.527222905258574,
 9.506543829444999,
 9.494875022520656,
 9.493278462183822,
 9.487502883311423,
 9.469741363548996,
 9.450181189050875,
 9.43250289577839,
 9.398319580459013,
 9.350565802736723,
 9.2235323054219,
 9.15534554046072,
 9.090909090909092,
 9.06344410876133,
 9.043193911398403,
 9.038526720144617,
 9.0115837472225,
 9.005763688760807,
 8.998470260055791,
 8.982035928143713,
 8.962289515913724,
 8.962289515913724,
 8.953019032626294,
 8.91712148630581,
 8.904719501335707,
 8.892053547946466,
 8.847684631713358,
 8.815776714007388,
 8.814937440388986,
 8.761515917484044,
 8.727289213297215,
 8.692175303791528,
 8.67571688533088,
 8.667213664151248,
 8.582939519458382,
 8.536890750563435,
 8.529660044712477,
 8.523695874531196,
 8.510058889607516,
 8.469405377777827,
 8.43321712360137,
 8.416579539482175,
 8.369695008313897,
 8.21825212159315,
 8.182349503214494,
 8.126500355128066,
 8.12105790314285,
 8.060208684176306,
 8.056681121300443,
 7.977086616403044,
 7.947101549017246,
 7.92922898820395,
 7.791004260449172,
 7.783688191677992,
 7.777777777777778,
 7.757049218477292,
 7.749741623614269,
 7.713870928426077,
 7.7093869495497716,
 7.693165776182728,
 7.677613920435351,
 7.675767397638524,
 7.613177496665428,
 7.612066535100085,
 7.59974667511083,
 7.577881678955465,
 7.5458998221431415,
 7.523723239840622,
 7.523682941682644,
 7.509499516888864,
 7.495586973169546,
 7.450306455938888,
 7.36490334221944,
 7.353126549408809,
 7.34381877658405,
 7.34341252699784,
 7.334644221217184,
 7.287662339719837,
 7.246989479786938,
 7.126805303083593,
 7.119059145143378,
 7.095834567712888,
 7.030453581430229,
 7.02000702000702,
 7.0,
 6.951220275133933,
 6.943123576088686,
 6.896644356323526,
 6.883914922910276,
 6.856910270746473,
 6.7442859037680325,
 6.735579730000246,
 6.70763916255125,
 6.699932362587577,
 6.67364115132386,
 6.6528241238405705,
 6.628934769956077,
 6.565945069303551,
 6.56311529205863,
 6.504153877874105,
 6.490761050720405,
 6.483318421700964,
 6.458849057939602,
 6.39877143588431,
 6.38284687364442,
 6.36651444909393,
 6.332774641881594,
 6.310152924700203,
 6.307706756114621,
 6.307332668435348,
 6.294454585510166,
 6.287422253605595,
 6.286153926044766,
 6.281003216612588,
 6.246704082758335,
 6.239704487595468,
 6.199141212304055,
 6.186767370741416,
 6.1774183048308835,
 6.173560517067796,
 6.1639418882524755,
 6.1544799074694465,
 6.153233985952167,
 6.151070790705387,
 6.133174117118502,
 6.104253321629445,
 6.090920386797809,
 6.08665324762514,
 6.065446164110755,
 6.039263668816443,
 6.01941596059289,
 5.98195841342511,
 5.970862192500597,
 5.970817985345702,
 5.894736842105263,
 5.88683732608075,
 5.876257764005571,
 5.87068064671418,
 5.84216140293049,
 5.81844699831168,
 5.8050097233912865,
 5.776426257407216,
 5.714285714285714,
 5.702977524565576,
 5.687293124712588,
 5.684713025027659,
 5.683515855385375,
 5.664409485311157,
 5.6619424048345435,
 5.660758811240649,
 5.617341857783349,
 5.592653490375043,
 5.518998759013708,
 5.509482508081722,
 5.503775896030004,
 5.501310192035335,
 5.5,
 5.427352024410059,
 5.412027493099665,
 5.393312723687645,
 5.380540521926779,
 5.365172412498062,
 5.341432799104688,
 5.3353987833208665,
 5.30714856990921,
 5.301058291497185,
 5.258466788838378,
 5.2506806194752995,
 5.188309700582647,
 5.186174225279864,
 5.174944162352488,
 5.158168798494846,
 ...]

In [ ]:
finaldf = pd.DataFrame